Source: ejabberd-modules
Section: net
Priority: optional
Maintainer: Mathias Ertl <apt-repository@fsinf.at>
Build-Depends: erlang-base, erlang-tools, debhelper (>= 9)
Standards-Version: 3.9.1
Homepage: http://www.ejabberd.im/ejabberd-modules

Package: ejabberd-mod-admin-extra
Architecture: any
Depends: ejabberd (>= 2.1.5), ${misc:Depends}
Conflicts: ejabberd (<< 2.1.5)
Description: Extra commands for ejabberdctl
 This package gives you extra commands for ejabberctl

Package: ejabberd-mod-muc-admin
Architecture: any
Depends: ejabberd (>= 2.1.5), ${misc:Depends}
Conflicts: ejabberd (<< 2.1.5)
Description: Extra commands for ejabberdctl for MUC-administration
 This package gives you extra commands for ejabberctl

Package: ejabberd-mod-archive
Architecture: any
Depends: ejabberd (>= 2.1.5), ${misc:Depends}
Conflicts: ejabberd (<< 2.1.5)
Description: This module provides support for Message Archiving (XEP-0136)
 This module does support almost all the XEP-0136 version 0.6 except otr 
 (off-the-record).
 .
 Features
  * Automatic archiving
  * User may enable/disable automatic archiving for one contact or globally
  * Manual archiving
  * Retrieve or remove archive
  * XEP-0059

Package: ejabberd-mod-archive-sql
Architecture: any
Depends: ejabberd (>= 2.1.5), ${misc:Depends}, postgresql
Conflicts: ejabberd (<< 2.1.5)
Description: This module provides support for Message Archiving (XEP-0136) using PostgreSQL
 This module does support almost all the XEP-0136 version 0.6 except otr 
 (off-the-record) using PostgreSQL as backend.
 .
 Features
  * Automatic archiving
  * User may enable/disable automatic archiving for one contact or globally
  * Manual archiving
  * Retrieve or remove archive
  * XEP-0059

Package: ejabberd-mod-archive-odbc
Architecture: any
Depends: ejabberd (>= 2.1.5), ${misc:Depends}
Conflicts: ejabberd (<< 2.1.5)
Description: This module provides support for Message Archiving (XEP-0136) using MySQL/ODBC
 This module does support almost all the XEP-0136 version 0.6 except otr 
 (off-the-record) using odbc or sql as backend.
 .
 Features
  * Automatic archiving
  * User may enable/disable automatic archiving for one contact or globally
  * Manual archiving
  * Retrieve or remove archive
  * XEP-0059

Package: ejabberd-mod-archive-webview
Architecture: any
Depends: ejabberd (>= 2.1.5), ${misc:Depends}, ejabberd-mod-archive-odbc
Conflicts: ejabberd (<< 2.1.5), ejabberd-mod-archive, ejabberd-mod-archive-sql
Description: View archives generated by ejabberd-mod-archive online
 This module only works with the odbc (MySQL) variant of ejabberd-mod-archive.

Package: ejabberd-mod-register-web
Architecture: any
Depends: ejabberd (>= 2.1.5), ${misc:Depends}
Conflicts: ejabberd (<< 2.1.5)
Description: Allow users to register using a webpage
 This module provides a web page where users can register Jabber accounts,
 change password and other related tasks.

Package: ejabberd-mod-s2s-log
Architecture: any
Depends: ejabberd (>= 2.1.5), ${misc:Depends}
Conflicts: ejabberd (<< 2.1.5)
Description: Log XMPP s2s connections
 This module can be use to keep a track of other XMPP servers your server has
 been connected with.

Package: ejabberd-mod-statsdx
Architecture: any
Depends: ejabberd (>= 2.1.5), ${misc:Depends}
Conflicts: ejabberd (<< 2.1.5)
Description: Calculates and gathers statistics actively
 Measures several statistics. It provides a new section in ejabberd
 Web Admin and two ejabberd commands to view the information.

Package: ejabberd-mod-webpresence
Architecture: any
Depends: ejabberd (>= 2.1.5), ${misc:Depends}
Conflicts: ejabberd (<< 2.1.5)
Description: mod-webpresence for ejabberd-2.0.x
 This module allows users to display their presence on the web

Package: ejabberd-mod-xmlrpc
Architecture: any
Depends: ejabberd (>= 2.1.5), erlang-xmlrpc, ${misc:Depends}
Conflicts: ejabberd (<< 2.1.5)
Description: xmlrpc interface for ejabberd
 This package gives you an xmlrpc interface for ejabberd

Package: ejabberd-mysql
Architecture: any
Depends: ejabberd, mysql-server, ${misc:Depends}
Recommends: ejabberd-mod-admin-extra
Conflicts: ejabberd (<< 2.1.5)
Description: MySQL support for ejabberd
 This package allows you to use MySQL as a database backend

Package: ejabberd-pgsql
Architecture: any
Depends: ejabberd, postgresql, ${misc:Depends}
Conflicts: ejabberd (<< 2.1.5)
Description: PostgreSQL support for ejabberd
 This package allows you to use PostgreSQL as a database backend

Package: ejabberd-mod-cron
Architecture: any
Depends: ejabberd (>= 2.1.5), ${misc:Depends}
Conflicts: ejabberd (<< 2.1.5)
Description: execute scheduled commands
 This module allows advanced ejabberd administrators to schedule commands for
 periodic and automatic execution.

Package: ejabberd-mod-rest
Architecture: any
Depends: ejabberd (>= 2.1.5), ${misc:Depends}
Conflicts: ejabberd (<< 2.1.5)
Description: HTTP interface to POST stanzas into ejabberd
 This is an ejabberd module that adds an HTTP handler that allows HTTP
 clients to literally post arbitrary message stanzas to ejabberd. Those
 stanzas then get shoved through ejabberd's router just like any other
 stanza.
 .
 This module can also be used as a frontend to execute ejabberd commands.

Package: ejabberd-mod-atom-pubsub
Architecture: any
Depends: ejabberd (>= 2.1.5), ${misc:Depends}
Conflicts: ejabberd (<< 2.1.5)
Description: Atom PubSub tunnel for ejabberd
 The atom_pubsub module provides access to all PEP nodes via an AtomPub
 interface.
 Also gives access to tune, mood and geoloc nodes if they exist.

Package: ejabberd-mod-ircd
Architecture: any
Depends: ejabberd (>= 2.1.5), ${misc:Depends}
Conflicts: ejabberd (<< 2.1.5)
Description: IRC-to-XMPP interface
 This is an IRC server frontend to ejabberd.  It supports a subset of
 the IRC protocol, allowing IRC users to use a subset of Jabber MUC
 functions.  Users log in with their username and password, just as if
 they were Jabber users.  Therefore, configuring the IRC interface to
 use an anonymous authentication backend is probably what users expect.
 Channel names are translated to MUC rooms on a particular MUC service.
 .
 The most obvious missing functions in this module are operator actions
 and a command to list channels.

Package: ejabberd-mod-log-chat
Architecture: any
Depends: ejabberd (>= 2.1.5), ${misc:Depends}
Conflicts: ejabberd (<< 2.1.5)
Description: Log chat messages to text or html
 mod_log_chat is a ejabberd module aimed at logging chat messages in
 text files. mod_log_chat create one file per couple of chatters and
 per day (it doesn't log muc messages, use mod_muc_log for this).
 .
 It can store messages in plain text or HTML format.

Package: ejabberd-mod-logxml
Architecture: any
Depends: ejabberd (>= 2.1.5), ${misc:Depends}
Conflicts: ejabberd (<< 2.1.5)
Homepage: http://www.ejabberd.im/mod_logxml
Description: Log XMPP packets to XML file
 This module sniffs all the XMPP traffic send and received by ejabberd,
 both internally and externally transmitted. It logs the XMPP packets
 to a XML formatted file. It's possible to filter transmitted packets
 by orientation, stanza and direction. It's possible to configure the
 file rotation rules and intervals.

Package: ejabberd-mod-muc-log-http
Architecture: any
Depends: ejabberd (>= 2.1.5), ${misc:Depends}
Conflicts: ejabberd (<< 2.1.5)
Homepage: http://www.ejabberd.im/mod_logxml
Description: Serve MUC logs on the web
 This module serves the directory containing MUC logs already
 configured on mod_muc_log.  So, there's no need to setup a web server
 to allow your users to view the MUC logs.  It is a small modification
 of mod_http_fileserver, customized for log serving.

Package: ejabberd-mod-profile
Architecture: any
Depends: ejabberd (>= 2.1.5), ${misc:Depends}
Conflicts: ejabberd (<< 2.1.5)
Homepage: http://www.ejabberd.im/mod_profile
Description: User Profile (XEP-0154) in Mnesia table
 This module supports storing and retrieving a profile according to
 XEP-0154.  It does no validation of the data, but simply stores
 whatever XML the user sends in a Mnesia table.  The PEP parts of
 XEP-0154 are out of scope for this module.

