Source: ejabberd-modules
Section: net
Priority: optional
Maintainer: Mathias Ertl <mati@jabber.at>
Build-Depends: erlang-base, erlang-tools, ejabberd (>= 15.04), debhelper (>= 9)
Standards-Version: 3.9.1
Homepage: http://www.ejabberd.im/ejabberd-contrib
VCS-Git: https://github.com/mathiasertl/ejabberd-modules.git
VCS-Browser: https://github.com/mathiasertl/ejabberd-modules

Package: ejabberd-mod-s2s-log
Architecture: any
Depends: ejabberd (>= 1:14.12), ${misc:Depends}
Description: Log XMPP s2s connections
 This module can be use to keep a track of other XMPP servers your server has
 been connected with.

Package: ejabberd-mod-statsdx
Architecture: any
Depends: ejabberd (>= 1:14.12), ${misc:Depends}
Description: Calculates and gathers statistics actively
 Measures several statistics. It provides a new section in ejabberd
 Web Admin and two ejabberd commands to view the information.

Package: ejabberd-mod-webpresence
Architecture: any
Depends: ejabberd (>= 1:14.12), ${misc:Depends}
Description: mod-webpresence for ejabberd-2.0.x
 This module allows users to display their presence on the web

Package: ejabberd-mod-cron
Architecture: any
Depends: ejabberd (>= 1:14.12), ${misc:Depends}
Description: execute scheduled commands
 This module allows advanced ejabberd administrators to schedule commands for
 periodic and automatic execution.

Package: ejabberd-mod-rest
Architecture: any
Depends: ejabberd (>= 1:14.12), ${misc:Depends}
Description: HTTP interface to POST stanzas into ejabberd
 This is an ejabberd module that adds an HTTP handler that allows HTTP
 clients to literally post arbitrary message stanzas to ejabberd. Those
 stanzas then get shoved through ejabberd's router just like any other
 stanza.
 .
 This module can also be used as a frontend to execute ejabberd commands.

Package: ejabberd-mod-log-chat
Architecture: any
Depends: ejabberd (>= 1:14.12), ${misc:Depends}
Description: Log chat messages to text or html
 mod_log_chat is a ejabberd module aimed at logging chat messages in
 text files. mod_log_chat create one file per couple of chatters and
 per day (it doesn't log muc messages, use mod_muc_log for this).
 .
 It can store messages in plain text or HTML format.

Package: ejabberd-mod-logsession
Architecture: any
Depends: ejabberd (>= 1:14.12), ${misc:Depends}
Homepage: http://www.ejabberd.im/mod_logsession
Description: Log session connections to file
 This module is intended to log in a text file the session connections.
 Right now it only logs the forbidden connection attempts and the
 failed authentication attempts.
 .
 Each vhost is logged in a different file.

Package: ejabberd-mod-logxml
Architecture: any
Depends: ejabberd (>= 1:14.12), ${misc:Depends}
Homepage: http://www.ejabberd.im/mod_logxml
Description: Log XMPP packets to XML file
 This module sniffs all the XMPP traffic send and received by ejabberd,
 both internally and externally transmitted. It logs the XMPP packets
 to a XML formatted file. It's possible to filter transmitted packets
 by orientation, stanza and direction. It's possible to configure the
 file rotation rules and intervals.

Package: ejabberd-mod-muc-log-http
Architecture: any
Depends: ejabberd (>= 1:14.12), ${misc:Depends}
Homepage: http://www.ejabberd.im/mod_logxml
Description: Serve MUC logs on the web
 This module serves the directory containing MUC logs already
 configured on mod_muc_log.  So, there's no need to setup a web server
 to allow your users to view the MUC logs.  It is a small modification
 of mod_http_fileserver, customized for log serving.

Package: ejabberd-mod-mam
Depends: debconf, ${misc:Depends}
Architecture: all
Priority: extra
Section: oldlibs
Description: Transitional dummy package
 This is a transitional dummy package. It can be safely removed.
 .
 The new package name is ejabberd-mod-mam-mnesia.

Package: ejabberd-mod-mam-mnesia
Replaces: ejabberd-mod-mam (<< 1:20150702)
Breaks: ejabberd-mod-mam (<< 1:20150702)
Architecture: any
Depends: ejabberd (>= 1:14.12), ${misc:Depends}
Homepage: https://github.com/processone/ejabberd-contrib/tree/master/mod_mam
Description: Message Archive Management (XEP-0313) support
 This module implements Message Archive Management (XEP-0313) support.
 .
 XEP-0313 allows server-side storage of messages.

Package: ejabberd-mod-auth-http
Architecture: any
Depends: ejabberd (>= 15.02), ${misc:Depends}
Homepage: https://github.com/processone/ejabberd-contrib/tree/master/mod_mam
Description: Authenticate against an external REST API.
 This module allows ejabberd to authenticate user accounts against an external
 REST API. This module is useful if you have a central user database you want
 to share with ejabberd.

Package: ejabberd-mod-post-log
Architecture: any
Depends: ejabberd (>= 15.02), ${misc:Depends}
Homepage: https://github.com/processone/ejabberd-contrib/tree/master/mod_mam
Description: Log all messages to an HTTP API.
 This module implements logging of all messages sent (chat and groupchat) via
 an HTTP API.
