Source: ejabberd-modules
Section: net
Priority: optional
Maintainer: Mathias Ertl <mati@jabber.at>
Build-Depends: erlang-base, erlang-tools, ejabberd (>= 15.04), debhelper (>= 9)
Standards-Version: 3.9.1
Homepage: http://www.ejabberd.im/ejabberd-contrib
VCS-Git: https://github.com/mathiasertl/ejabberd-modules.git
VCS-Browser: https://github.com/mathiasertl/ejabberd-modules

Package: ejabberd-contrib
Architecture: all
Depends: erlang-base (>= 1:17) | ${erlang-abi:Depends}, ${erlang:Depends}, ${misc:Depends},
 ejabberd (>=${ejabberd}),
 ejabberd-mod-cron,
 ejabberd-mod-log-chat,
 ejabberd-mod-logsession,
 ejabberd-mod-logxml,
 ejabberd-mod-message-log,
 ejabberd-mod-muc-log-http,
 ejabberd-mod-post-log,
 ejabberd-mod-pottymouth,
 ejabberd-mod-rest,
 ejabberd-mod-s2s-log,
 ejabberd-mod-shcommands,
 ejabberd-mod-statsdx,
 ejabberd-mod-webpresence
Description: user-contributed modules for ejabberd (metapackage)
 This package depends on all available modules from ejabberd-contrib,
 but doesn't do or add anything itself.
 .
 This is a pure metapackage

Package: ejabberd-mod-s2s-log
Architecture: any
Depends: ejabberd (>= 1:14.12), ${misc:Depends}
Description: Log XMPP s2s connections
 This module can be use to keep a track of other XMPP servers your server has
 been connected with.

Package: ejabberd-mod-cron
Architecture: any
Depends: ejabberd (>= 1:14.12), ${misc:Depends}
Description: execute scheduled commands
 This module allows advanced ejabberd administrators to schedule commands for
 periodic and automatic execution.

Package: ejabberd-mod-rest
Architecture: any
Depends: ejabberd (>= 1:14.12), ${misc:Depends}
Description: HTTP interface to POST stanzas into ejabberd
 This is an ejabberd module that adds an HTTP handler that allows HTTP
 clients to literally post arbitrary message stanzas to ejabberd. Those
 stanzas then get shoved through ejabberd's router just like any other
 stanza.
 .
 This module can also be used as a frontend to execute ejabberd commands.

Package: ejabberd-mod-log-chat
Architecture: any
Depends: ejabberd (>= 1:14.12), ${misc:Depends}
Description: Log chat messages to text or html
 mod_log_chat is a ejabberd module aimed at logging chat messages in
 text files. mod_log_chat create one file per couple of chatters and
 per day (it doesn't log muc messages, use mod_muc_log for this).
 .
 It can store messages in plain text or HTML format.

Package: ejabberd-mod-logsession
Architecture: any
Depends: ejabberd (>= 1:14.12), ${misc:Depends}
Homepage: http://www.ejabberd.im/mod_logsession
Description: Log session connections to file
 This module is intended to log in a text file the session connections.
 Right now it only logs the forbidden connection attempts and the
 failed authentication attempts.
 .
 Each vhost is logged in a different file.

Package: ejabberd-mod-logxml
Architecture: any
Depends: ejabberd (>= 1:14.12), ${misc:Depends}
Homepage: http://www.ejabberd.im/mod_logxml
Description: Log XMPP packets to XML file
 This module sniffs all the XMPP traffic send and received by ejabberd,
 both internally and externally transmitted. It logs the XMPP packets
 to a XML formatted file. It's possible to filter transmitted packets
 by orientation, stanza and direction. It's possible to configure the
 file rotation rules and intervals.

Package: ejabberd-mod-muc-log-http
Architecture: any
Depends: ejabberd (>= 1:14.12), ${misc:Depends}
Homepage: http://www.ejabberd.im/mod_logxml
Description: Serve MUC logs on the web
 This module serves the directory containing MUC logs already
 configured on mod_muc_log.  So, there's no need to setup a web server
 to allow your users to view the MUC logs.  It is a small modification
 of mod_http_fileserver, customized for log serving.

Package: ejabberd-mod-auth-http
Architecture: any
Depends: ejabberd (>= 15.02), ${misc:Depends}
Homepage: https://github.com/processone/ejabberd-contrib/tree/master/mod_mam
Description: Authenticate against an external REST API.
 This module allows ejabberd to authenticate user accounts against an external
 REST API. This module is useful if you have a central user database you want
 to share with ejabberd.

Package: ejabberd-mod-post-log
Architecture: any
Depends: ejabberd (>= 14.07), ${misc:Depends}
Homepage: https://github.com/processone/ejabberd-contrib/tree/master/mod_mam
Description: Log all messages to an HTTP API.
 This module implements logging of all messages sent (chat and groupchat) via
 an HTTP API.

Package: ejabberd-mod-graphite
Architecture: any
Depends: ejabberd (>= 14.07), ${misc:Depends}
Homepage: https://github.com/processone/ejabberd-contrib/tree/master/mod_grafite
Description: Gathers statistics and publishes via statsd/graphite.
 This module implements logging to statsd/graphite.

Package: ejabberd-mod-pottymouth
Architecture: any
Depends: ejabberd (>= 14.07), ${misc:Depends}
Homepage: https://github.com/processone/ejabberd-contrib/tree/master/mod_pottymouth
Description: Filter XMPP messages against a blacklist.
 This moduleallows individual whole words of a message to be filtered against a
 blacklist. It allows multiple blacklists sharded by language. The internal
 bloomfilter can support arbitrary blacklist sizes. Using a large list (say,
 87M terms) will slow down the initial server boot time (to about 15 minutes
 respectively), but once loaded lookups are very speedy.

Package: ejabberd-mod-shcommands
Architecture: any
Depends: erlang-base (>= 1:17) | ${erlang-abi:Depends}, ${erlang:Depends}, ejabberd (>=${ejabberd}), ${misc:Depends}
Description: execute shell commands via XMPP (dangerous!)
 WARNING: USE THIS MODULE AT YOUR OWN RISK !!!
 This module allows ejabberd administrators to remotely execute shell commands 
 which could compromise both the ejabberd server and the whole machine.
 .
 This module provides the ejabberd server administrator a method to remotely
 execute shell commands through the ejabberd server.
 .
 It provides a page in the ejabberd Web Admin which only the administrators of
 the whole server can access.
 .
 Three types of commands are possible:
  * ejabberd_ctl: makes a call to ejabberd_ctl;
  * erlang shell: executes an erlang command;
  * system shell: executes a command on the system shell.
 The result of the execution will be shown.
 .
 In the system shell, only non-interactive commands will work correctly, 
 for example this will work:
  ps -all
 Don't use commands that start an interactive mode:
 DON'T TRY THIS: top
 DON'T TRY THIS: vim readme.txt
 .
 This module does not check if the commands are dangerous or problematic,
 so this module is only recommended for experienced ejabberd and Erlang/OTP
 administrators. USE THIS MODULE AT YOUR OWN RISK !!!

Package: ejabberd-mod-statsdx
Architecture: any
Depends: erlang-base (>= 1:17) | ${erlang-abi:Depends}, ${erlang:Depends}, ejabberd (>=${ejabberd}), ${misc:Depends}
Description: calculates and gathers statistics actively
 This module measures several statistics. It provides a new section in
 ejabberd Web Admin and two ejabberd commands to view the information.
 Simply activate the module in ejabberd.yml after installation, see the included
 README.txt for further information.

Package: ejabberd-mod-webpresence
Architecture: any
Depends: erlang-base (>= 1:17) | ${erlang-abi:Depends}, ${erlang:Depends}, ejabberd (>=${ejabberd}), ${misc:Depends}
Description: allows any local ejabberd user to publish his presence information
 This module allows any local user of the ejabberd server to publish his
 presence information on the web.
 This module is the successor of Igor Goryachev's mod_presence.
 .
 Allowed output methods are:
  * icons (various themes available);
  * status text;
  * raw XML;
  * avatar, stored in the user's vCard.
 .
 No web server, database, additional libraries or programs are required.
