#!/usr/bin/make -f

BIN_PACKAGES=$(shell grep ^Package: debian/control  | sed 's/^Package: //')

ejabberd-mod-admin-extra_BUILD_PATH=mod_admin_extra/
ejabberd-mod-archive_BUILD_PATH=mod_archive/
ejabberd-mod-atom-pubsub_BUILD_PATH=atom_pubsub/
ejabberd-mod-cron_BUILD_PATH=mod_cron/
ejabberd-mod-ircd_BUILD_PATH=ircd/
ejabberd-mod-log-chat_BUILD_PATH=mod_log_chat/
ejabberd-mod-logxml_BUILD_PATH=mod_logxml/
ejabberd-mod-muc-admin_BUILD_PATH=mod_muc_admin/
ejabberd-mod-muc-log-http_BUILD_PATH=mod_muc_log_http/
ejabberd-mod-profile_BUILD_PATH=mod_profile/
ejabberd-mod-register-web_BUILD_PATH=mod_register_web/
ejabberd-mod-rest_BUILD_PATH=mod_rest/
ejabberd-mod-s2s-log_BUILD_PATH=mod_s2s_log/
ejabberd-mod-statsdx_BUILD_PATH=mod_statsdx/
ejabberd-mod-webpresence_BUILD_PATH=mod_webpresence/

%:
	dh $@

build-ejabberd-mod-archive-%:
	# ejabberd-mod-archive compiles all modules

build-%:
	cd ${$*_BUILD_PATH} && ./build.sh

override_dh_auto_build: $(BIN_PACKAGES:%=build-%)

override_dh_installinit:
	debian/dh_moduleupdate $*
	dh_installinit
